# Load the datasets.

In [17]:
import pandas as pd

sales = pd.read_csv("../data/sales.csv")
features = pd.read_csv("../data/features.csv")
stores = pd.read_csv("../data/stores.csv")

# Inspect the datasets.

We will inspect the dataset for inconsistent data types, we will change the column names to reflect the PEP8 format, Also we will check for missing values and negative values.

In [4]:
# starting with the sales dataset.
sales.head()
sales.info()
sales.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 13.3+ MB

               Store           Dept   Weekly_Sales
count  421570.000000  421570.000000  421570.000000
mean       22.200546      44.260317   15981.258123
std        12.785297      30.492054   22711.183519
min         1.000000       1.000000   -4988.940000
25%        11.000000      18.000000    2079.650000
50%        22.000000      37.000000    7612.030000
75%        33.000000      74.000000   20205.852500
max        45.000000      99.000000  693099.360000

From the result above, we have somethings that we have to do to clean our dataset.
- change the column names to store_id, dept_id, sale_date, weekly_sales, and is_holiday respectively.
- convert the datatype of the date column to a date data type
- convert negative values in the weekly_sales column to absolute values.

In [9]:
# Rename the column
sales = sales.rename(columns = {
    "Store": "store_id",
    "Dept": "dept_id",
    "Date": "sale_date",
    "Weekly_Sales": "weekly_sales",
    "IsHoliday": "is_holiday"
})

# Convert sale_date to datetime format
sales["sale_date"] = pd.to_datetime(sales["sale_date"])

# Convert negative values in the weekly_sales column to absolute values
sales["weekly_sales"] = sales["weekly_sales"].abs()

# verifying the changes
print(sales.dtypes)
print(sales.head())

store_id                 int64
dept_id                  int64
sale_date       datetime64[ns]
weekly_sales           float64
is_holiday                bool
dtype: object
   store_id  dept_id  sale_date  weekly_sales  is_holiday
0         1        1 2010-02-05      24924.50       False
1         1        1 2010-02-12      46039.49        True
2         1        1 2010-02-19      41595.55       False
3         1        1 2010-02-26      19403.54       False
4         1        1 2010-03-05      21827.90       False

In [18]:
# Working with features dataset
features.head()
features.info()
features.describe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   object
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     4032 non-null   float64
 5   MarkDown2     2921 non-null   float64
 6   MarkDown3     3613 non-null   float64
 7   MarkDown4     3464 non-null   float64
 8   MarkDown5     4050 non-null   float64
 9   CPI           7605 non-null   float64
 10  Unemployment  7605 non-null   float64
 11  IsHoliday     8190 non-null   bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 712.0+ KB

<bound method NDFrame.describe of       Store        Date  Temperature  Fuel_Price  MarkDown1  MarkDown2  \
0         1  2010-02-05        42.31       2.572        NaN        NaN
1         1  2010-02-12        38.51       2.548        NaN        NaN
2         1  2010-02-19        39.93       2.514        NaN        NaN
3         1  2010-02-26        46.63       2.561        NaN        NaN
4         1  2010-03-05        46.50       2.625        NaN        NaN
...     ...         ...          ...         ...        ...        ...
8185     45  2013-06-28        76.05       3.639    4842.29     975.03
8186     45  2013-07-05        77.50       3.614    9090.48    2268.58
8187     45  2013-07-12        79.37       3.614    3789.94    1827.31
8188     45  2013-07-19        82.84       3.737    2961.49    1047.07
8189     45  2013-07-26        76.06       3.804     212.02     851.73

      MarkDown3  MarkDown4  MarkDown5         CPI  Unemployment  IsHoliday
0           NaN        NaN        NaN  211.096358         8.106      False
1           NaN        NaN        NaN  211.242170         8.106       True
2           NaN        NaN        NaN  211.289143         8.106      False
3           NaN        NaN        NaN  211.319643         8.106      False
4           NaN        NaN        NaN  211.350143         8.106      False
...         ...        ...        ...         ...           ...        ...
8185       3.00    2449.97    3169.69         NaN           NaN      False
8186     582.74    5797.47    1514.93         NaN           NaN      False
8187      85.72     744.84    2150.36         NaN           NaN      False
8188     204.19     363.00    1059.46         NaN           NaN      False
8189       2.06      10.88    1864.57         NaN           NaN      False

[8190 rows x 12 columns]>

From the result above we have some things to do to clean the dataset.
- change the column names to store_id, sale_date, temperature, fuel_price, markdown1, markdown2, markdown3, markdown4, markdown5, cpi, unemplyment,and is_holiday respectively.
- convert the data type of date to datetime
- convert all negative values in the markdown, fuel_price, cpi, and unemployment columns to absolute values
- handle missing values in the columns

In [19]:
import numpy as np

# Rename columns
features = features.rename(columns={
    "Store": "store_id",
    "Date": "sale_date",
    "Temperature": "temperature",
    "Fuel_Price": "fuel_price",
    "MarkDown1": "markdown1",
    "MarkDown2": "markdown2",
    "MarkDown3": "markdown3",
    "MarkDown4": "markdown4",
    "MarkDown5": "markdown5",
    "CPI": "cpi",
    "Unemployment": "unemployment",
    "IsHoliday": "is_holiday"
})

# Convert sale_date to datetime
features["sale_date"] = pd.to_datetime(features["sale_date"])

# Convert negative values to absolute values
cols_to_fix = ["markdown1", "markdown2", "markdown3", "markdown4", "markdown5",
               "fuel_price", "cpi", "unemployment"]

features[cols_to_fix] = features[cols_to_fix].abs()

# Handling missing values 3
features[cols_to_fix] = features[cols_to_fix].replace(0, np.nan)

# verifying the changes
print(features.info())
print(features.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   store_id      8190 non-null   int64
 1   sale_date     8190 non-null   datetime64[ns]
 2   temperature   8190 non-null   float64
 3   fuel_price    8190 non-null   float64
 4   markdown1     4032 non-null   float64
 5   markdown2     2918 non-null   float64
 6   markdown3     3612 non-null   float64
 7   markdown4     3464 non-null   float64
 8   markdown5     4050 non-null   float64
 9   cpi           7605 non-null   float64
 10  unemployment  7605 non-null   float64
 11  is_holiday    8190 non-null   bool
dtypes: bool(1), datetime64[ns](1), float64(9), int64(1)
memory usage: 712.0 KB
None
   store_id  sale_date  temperature  fuel_price  markdown1  markdown2  \
0         1 2010-02-05        42.31       2.572        NaN        NaN
1         1 2010-02-12        38.51       2.548        NaN        NaN
2         1 2010-02-19        39.93       2.514        NaN        NaN
3         1 2010-02-26        46.63       2.561        NaN        NaN
4         1 2010-03-05        46.50       2.625        NaN        NaN

   markdown3  markdown4  markdown5         cpi  unemployment  is_holiday
0        NaN        NaN        NaN  211.096358         8.106       False
1        NaN        NaN        NaN  211.242170         8.106        True
2        NaN        NaN        NaN  211.289143         8.106       False
3        NaN        NaN        NaN  211.319643         8.106       False
4        NaN        NaN        NaN  211.350143         8.106       False

In [21]:
# Working with stores dataset
stores.head()
stores.info()
stores.describe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Store   45 non-null     int64
 1   Type    45 non-null     object
 2   Size    45 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.2+ KB

<bound method NDFrame.describe of     Store Type    Size
0       1    A  151315
1       2    A  202307
2       3    B   37392
3       4    A  205863
4       5    B   34875
5       6    A  202505
6       7    B   70713
7       8    A  155078
8       9    B  125833
9      10    B  126512
10     11    A  207499
11     12    B  112238
12     13    A  219622
13     14    A  200898
14     15    B  123737
15     16    B   57197
16     17    B   93188
17     18    B  120653
18     19    A  203819
19     20    A  203742
20     21    B  140167
21     22    B  119557
22     23    B  114533
23     24    A  203819
24     25    B  128107
25     26    A  152513
26     27    A  204184
27     28    A  206302
28     29    B   93638
29     30    C   42988
30     31    A  203750
31     32    A  203007
32     33    A   39690
33     34    A  158114
34     35    B  103681
35     36    A   39910
36     37    C   39910
37     38    C   39690
38     39    A  184109
39     40    A  155083
40     41    A  196321
41     42    C   39690
42     43    C   41062
43     44    C   39910
44     45    B  118221>

From the result bove, we have some changes to make.
- change the column to store_id, store_type, and store_size respectively.

In [24]:
# Rename the column
stores = stores.rename(columns = {
    "Store": "store_id",
    "Type": "store_type",
    "Size": "store_size"
})

# verifying the changes
print(stores.info())
print(stores.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   store_id    45 non-null     int64
 1   store_type  45 non-null     object
 2   store_size  45 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.2+ KB
None
        store_id     store_size
count  45.000000      45.000000
mean   23.000000  130287.600000
std    13.133926   63825.271991
min     1.000000   34875.000000
25%    12.000000   70713.000000
50%    23.000000  126512.000000
75%    34.000000  202307.000000
max    45.000000  219622.000000

# Merge all datasets into a dataset called master_sales

In [13]:
# ensure sale_date has the same dtype in both dataframes before merging
features["sale_date"] = pd.to_datetime(features["sale_date"])
sales["sale_date"] = pd.to_datetime(sales["sale_date"])

# merge the sales and features dataset by store_id, sale_date, and is_holiday
master_sales = pd.merge(sales, features, on=["store_id", "sale_date", "is_holiday"], how="left")

# merge the stores dataset by store_id
master_sales = pd.merge(master_sales, stores, on="store_id", how="left")

# removing any duplicate rows
master_sales = master_sales.drop_duplicates()

# verifying the final dataset
print(master_sales.info())
print(master_sales.head())
print(master_sales.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   store_id      421570 non-null  int64
 1   dept_id       421570 non-null  int64
 2   sale_date     421570 non-null  datetime64[ns]
 3   weekly_sales  421570 non-null  float64
 4   is_holiday    421570 non-null  bool
 5   temperature   421570 non-null  float64
 6   fuel_price    421570 non-null  float64
 7   markdown1     150681 non-null  float64
 8   markdown2     111248 non-null  float64
 9   markdown3     137091 non-null  float64
 10  markdown4     134967 non-null  float64
 11  markdown5     151432 non-null  float64
 12  cpi           421570 non-null  float64
 13  unemployment  421570 non-null  float64
 14  store_type    421570 non-null  object
 15  store_size    421570 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(10), int64(3), object(1)
memory usage: 48.6+ MB
None
   store_id  dept_id  sale_date  weekly_sales  is_holiday  temperature  \
0         1        1 2010-02-05      24924.50       False        42.31
1         1        1 2010-02-12      46039.49        True        38.51
2         1        1 2010-02-19      41595.55       False        39.93
3         1        1 2010-02-26      19403.54       False        46.63
4         1        1 2010-03-05      21827.90       False        46.50

   fuel_price  markdown1  markdown2  markdown3  markdown4  markdown5  \
0       2.572        NaN        NaN        NaN        NaN        NaN
1       2.548        NaN        NaN        NaN        NaN        NaN
2       2.514        NaN        NaN        NaN        NaN        NaN
3       2.561        NaN        NaN        NaN        NaN        NaN
4       2.625        NaN        NaN        NaN        NaN        NaN

          cpi  unemployment store_type  store_size
0  211.096358         8.106          A      151315
1  211.242170         8.106          A      151315
2  211.289143         8.106          A      151315
3  211.319643         8.106          A      151315
4  211.350143         8.106          A      151315
            store_id        dept_id                      sale_date  \
count  421570.000000  421570.000000                         421570
mean       22.200546      44.260317  2011-06-18 08:30:31.963375104
min         1.000000       1.000000            2010-02-05 00:00:00
25%        11.000000      18.000000            2010-10-08 00:00:00
50%        22.000000      37.000000            2011-06-17 00:00:00
75%        33.000000      74.000000            2012-02-24 00:00:00
max        45.000000      99.000000            2012-10-26 00:00:00
std        12.785297      30.492054                            NaN

        weekly_sales    temperature     fuel_price      markdown1  \
count  421570.000000  421570.000000  421570.000000  150681.000000
mean    15981.676377      60.090059       3.361027    7246.420196
min         0.000000      -2.060000       2.472000       0.270000
25%      2079.757500      46.680000       2.933000    2240.270000
50%      7612.030000      62.090000       3.452000    5347.450000
75%     20205.852500      74.280000       3.738000    9210.900000
max    693099.360000     100.140000       4.468000   88646.760000
std     22710.889199      18.447931       0.458515    8291.221345

           markdown2      markdown3      markdown4      markdown5  \
count  111248.000000  137091.000000  134967.000000  151432.000000
mean     3334.628621    1439.421384    3383.168256    4628.975079
min      -265.760000     -29.100000       0.220000     135.160000
25%        41.600000       5.080000     504.220000    1878.440000
50%       192.000000      24.600000    1481.310000    3359.450000
75%      1926.940000     103.990000    3595.040000    5563.800000
max    104519.540000  141630.610000   67474.850000  108519.280000
std      9475.357325    9623.078290    6292.384031    5962.887455

                 cpi   unemployment     store_size
count  421570.000000  421570.000000  421570.000000
mean      171.201947       7.960289  136727.915739
min       126.064000       3.879000   34875.000000
25%       132.022667       6.891000   93638.000000
50%       182.318780       7.866000  140167.000000
75%       212.416993       8.572000  202505.000000
max       227.232807      14.313000  219622.000000
std        39.159276       1.863296   60980.583328

# Saving the final merged dataset

In [14]:
master_sales.to_csv("../data/master_sales.csv", index=False)