# Feature Engineering for Sales Forecasting

In [8]:
# Loading the dataset

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

master_sales = pd.read_csv("../data/master_sales_v2.csv", parse_dates=["sale_date"])

In [9]:
master_sales.head()

,store_id,dept_id,sale_date,weekly_sales,is_holiday,temperature,fuel_price,markdown1,markdown2,markdown3,markdown4,markdown5,cpi,unemployment,store_type,store_size,year,month,week,total_markdown
0,1,1,2010-02-05,24924.50,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,A,151315,2010,2,5,0.0
1,1,1,2010-02-12,46039.49,True,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,A,151315,2010,2,6,0.0
2,1,1,2010-02-19,41595.55,False,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,A,151315,2010,2,7,0.0
3,1,1,2010-02-26,19403.54,False,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,A,151315,2010,2,8,0.0
4,1,1,2010-03-05,21827.90,False,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,A,151315,2010,3,9,0.0

In [ ]:
# sorting the data
master_sales = master_sales.sort_values(by=['store_id', 'dept_id', 'sale_date'])

In [ ]:
# Time based features
master_sales['year'] = master_sales['sale_date'].dt.year
master_sales['month'] = master_sales['sale_date'].dt.month
master_sales['week'] = master_sales['sale_date'].dt.isocalendar().week
master_sales['day_of_week'] = master_sales['sale_date'].dt.dayofweek